*{margin: 0; padding: 0;}
body{
	background-color: #000;
}

/*tab-view*/
.tab-view{
  margin: 60px;
  height: 200px;
}
/*tab-title*/
.tab-titles {
   height: 30px;
}
.tab-titles ul li{
	list-style: none;
	display: block;
	float: left;
	width: 65px;
	height: 30px;
	border-radius: 5px 5px 0 0;
	margin-right: 5px;
	background: #767676;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.tab-titles ul li.actived{
	background: #fff;
	color: #555;
}

/*tab-contents*/
.tab-contents div{
	display: none;
	position: absolute;
}
.tab-contents div.actived{
	display: block;
}

















